.image-list-intro {
    background-size: cover !important;
    background-attachment: scroll;
    height: 228px;
    background-position-x: 50% !important;
    background-position-y: 50% !important;
    background-image: url(../image/hero-banner.jpg);
}

.overlay-content {
    text-align: center;
    padding-top: 50px;
}

.list-post-row {
    flex-wrap: wrap;
}

.list-container {
    padding-top: 3rem !important;
}

.p5 {
    padding-left: 15px;
    padding-right: 15px;
    ;
}

.content-latest-post>p {
    padding: 0;
    margin: 0;
}

.margin5 {
    margin-right: 1.25em;
}

.image-about {
    width: 30%;
    margin: 0 auto;
}

.border-img {
    border-radius: 50%;
    ;
}